*{font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 2s;}

body {
    margin: 0;
}
#menuSlide {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #102335;
    height: max-content;
    width: 10vw;
    min-width: 100px;
    min-height: 100px;
    left : -20vw;
    border-left-width : 0;
    border-top-width: 0;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 4px 1px #0c717e;
    z-index: 11;
}

#liensSlide li {
    padding: 10px;
    color: #f4edea;
    list-style: none;
    opacity: 0.5;
    -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
#liensSlide li:hover {
    background : linear-gradient( to right, #2895a3, #0c717e00);    
    opacity: 1;
}

#liensSlide {
    padding: 0;
    margin: 0;
}

#logoMode {
  background-color: wheat;
  border-radius: 10px;
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  margin-top: 5px;
  margin-left: 70%;
  margin-bottom: 10px;
}
#logoMode img {
  width: 30px;
  height: 30px;
}

.menu-btn {
    z-index: 12;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    background-color: #0c717e;
    width: 35px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 5px #c5d8d1;
    transition: all .45s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #0c717e;
    border-radius: 5px;
    box-shadow: 0 4px 5px #c5d8d1;
    transition: all .45s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    box-shadow: none;
  }

  .txtLien{
    color : white;
  }

#formulaire {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label
{
	display: block;
	width: 150px;
}

input,textarea{
  margin: 10px;
}

footer {
    background-color: #0c717e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}