.bulle {
    background-color: rebeccapurple;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    z-index: 10;
}

#frise {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15px;
    border: 2px solid blue;
    background-color: #f4edea;
    min-height: 4000px;
    height: max-content ;
    border-radius: 5rem;
    
}

#friseSup {
    position: relative;
    left: 20px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
}