*{
  font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  transition-property: background-color,color;
  transition-duration: 2s;
}

body {
  margin: 0;
}
#menuSlide {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #102335;
  height: max-content;
  width: 10vw;
  min-width: 100px;
  min-height: 100px;
  left : -40vw;
  border-left-width : 0;
  border-top-width: 0;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 4px 1px #0c717e;
  z-index: 11;
}

#liensSlide li {
  padding: 10px;
  color: #f4edea;
  list-style: none;
  opacity: 0.5;
  -webkit-transition: opacity 500ms linear;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
#liensSlide li:hover {
  background : linear-gradient( to right, #2895a3, #0c717e00);    
  opacity: 1;
}

#liensSlide {
  padding: 0;
  margin: 0;
}

#logoMode {
  background-color: wheat;
  border-radius: 10px;
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  margin-top: 5px;
  margin-left: 70%;
  margin-bottom: 10px;
}
#logoMode img {
  width: 30px;
  height: 30px;
}

.menu-btn {
  z-index: 12;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  background-color: #0c717e;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c5d8d1;
  transition: all .45s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: #0c717e;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c5d8d1;
  transition: all .45s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-12px);
}
.menu-btn__burger::after {
  transform: translateY(12px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  box-shadow: none;
}

.txtLien{
  color : white;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 4vw;
  color: #f4edea;
  text-decoration: underline 5px;
  padding-bottom: 20px;
}

#maPhoto {
  width: 80%;
  height: 100%;
  min-width: 100px;
  min-height: 200px;
}

.decoupage {
  width: 100%;
  height: 50vh;
  margin: 0;
}

#P1APropos {
  flex: 1;
  width: auto;
  margin: 20px;
  font-size: 1vw;
}
#P1Photo {
flex: 2;
  width: 800vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color :#f4edea;
}
#P1 {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  background-color:#f4d1ae;
}
#P2 {
  background-color: #12263a;
  width: 100%;
  height: max-content;
  padding-top: 100px;
  padding-bottom: 100px;

}

#P3 {
  background-color: #0f4c5c;
  padding-bottom: 120px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}


.projet:nth-child(even) {

  background:linear-gradient(to bottom right, #c5d8d1,#0c717e);
}

.projet {
  width: 95%;
  height: 20vh;
  min-height: 120px;
  margin: 20px;
  display: flex;
  border-radius: 10px
}

.part1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.part1 div {
  text-align: left;
}

.part2 {
  z-index: 400;
  flex: 1;
  overflow: hidden;
}
.part2:hover{
  filter: blur(2px);
}

.part2 img {
  width: 100%;
  overflow: hidden;

  border-radius: 0 30% 0px 0px;
}

.projet:nth-child(odd) {
  background:linear-gradient(to left top, #c5d8d1,#0c717e);
}

.imgProjet{
  width: 50px;
  height: 50px;
}


footer {
  background-color: #0c717e;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height:50px;
}