*{font-family: 'Open Sans Light', 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 2s;}

body {
    margin: 0;
    background-color: #c5d8d1;
}
#menuSlide {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #102335;
    height: max-content;
    width: 10vw;
    min-width: 100px;
    min-height: 100px;
    left : -20vw;
    border-left-width : 0;
    border-top-width: 0;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 4px 1px #0c717e;
    z-index: 11;
}
#P1 h1{
  margin: 2%;
  text-align: center;
}

#liensSlide li {
    padding: 10px;
    color: #f4edea;
    list-style: none;
    opacity: 0.5;
    -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
#liensSlide li:hover {
    background : linear-gradient( to right, #2895a3, #0c717e00);    
    opacity: 1;
}

#liensSlide {
    padding: 0;
    margin: 0;
}

#logoMode {
  background-color: wheat;
  border-radius: 10px;
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  margin-top: 5px;
  margin-left: 70%;
  margin-bottom: 10px;
}
#logoMode img {
  width: 30px;
  height: 30px;
}

.menu-btn {
    z-index: 12;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    background-color: #0c717e;
    width: 35px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 5px #c5d8d1;
    transition: all .45s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #0c717e;
    border-radius: 5px;
    box-shadow: 0 4px 5px #c5d8d1;
    transition: all .45s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    box-shadow: none;
  }

  .txtLien{
    color : white;
  }

#formulaire {
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-around;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: #0c717e;
  width: 35%;
  border-radius: 25px;
  border: 4px double black;
  align-items: center;
}

@media only screen and (max-width: 700px){
#form {
  display: flex;
  flex-direction: column;
  background-color: #0c717e;
  width: 100%;
  height: 200%;
  padding-bottom: 100%;
  border-radius: 0%;
  border: 0;
  align-items: center;
  }
#formulaire {
    padding-bottom: 0vh;
    display: flex;
    justify-content: space-around;
}
}



#form * {
  border-radius: 15px;
  text-align: center;
}

input,textarea {
  width: 90%;
}

#buttonForm{
  color: #f4edea;
  width: 45%;
  height: 45px;
  background-color: #102335;
  border: 2px solid black;
}


.champ {
  width: 80%;
  height: 65%;
  transition-duration: 0.5s;
}

.imgForm {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-25px,7px);
  z-index: -1;
  transition: all 2s;
  opacity: 0;
}

#fichier {
  background-color: gray;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input,textarea{
  padding: 0.4em;
}

footer {
    background-color: #0c717e;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    align-items: center;
    height:50px;
}